@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
	@apply scroll-smooth overflow-x-hidden font-kanit
}

@layer base {
	@font-face {
		font-family: 'luckycoin';
		src: url('./assets/font/LuckyCoin.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'kanit';
		src: url('./assets/font/Kanit-Regular.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'kanit-bold';
		src: url('./assets/font/Kanit-Bold.ttf');
    font-display: swap;
	}
	@font-face {
		font-family: 'kanit-light';
		src: url('./assets/font/Kanit-Light.ttf');
    font-display: swap;
	}

}

.animate-move {
	animation: move 120s ease-in-out infinite;
}

@keyframes move {
	0% {
		transform: translate(0);

	}

	50% {
		transform: translate(calc(-100% + 100vw));

	}

	100% {
		transform: translate(0);

	}
	

	
}